<!-- map.component.html -->
<div id="map" style="height: 100vh; width: 100vw"></div>
<div id="drawer">
  <div class="drawer">
    <!-- PAGES -->
    <div class="tabs">
      <div
        [ngClass]="{
          'opened-tab': isCropPlanningActive,
          'closed-tab': !isCropPlanningActive
        }"
        (click)="setActiveTab('cropPlanning')"
      >
        <span>Crop Planning</span>
      </div>
      <div
        [ngClass]="{
          'opened-tab': !isCropPlanningActive,
          'closed-tab': isCropPlanningActive
        }"
        (click)="setActiveTab('harvestHistory')"
      >
        <span>Harvest History</span>
      </div>
    </div>

    <div class="line-7_66-75">
      <svg
        width="494"
        height="3"
        viewBox="0 0 494 3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="492.5"
          y1="1.5"
          x2="1.5"
          y2="1.5"
          stroke="#E8E8E8"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </div>

    <!-- CROP PLANNING TAB -->
    <div *ngIf="isCropPlanningActive && !isSuccessVisible">
      <div class="drawer">
        <div class="form-field">
          <span class="title"
            >Plan your crop ahead of time and see if it's going to be a good
            harvest.</span
          >
        </div>

        <!-- CROP -->
        <div class="form-field">
          <span class="title">Select your crop</span>
          <div class="field">
            <img
              src="assets/icon/sprout-outline.svg"
              alt="Sprout"
              class="icon"
            />
            <select [(ngModel)]="selectedCrop" class="text-input" required>
              <option *ngFor="let crop of crops" [value]="crop.plant_name">
                {{ crop.plant_name }}
              </option>
            </select>
          </div>
        </div>

        <!-- LOCATION -->
        <div class="form-field">
          <span class="title">Select the location and size of your crops</span>
          <div class="field">
            <img
              src="assets/icon/minus-box-outline.svg"
              alt="Minus"
              (click)="adjustSize(-1)"
              class="icon button-icon"
            />
            <input type="number" [(ngModel)]="cropSize" min="0" />
            <img
              src="assets/icon/plus-box-outline.svg"
              alt="Plus"
              (click)="adjustSize(1)"
              class="icon button-icon"
            />
            <span class="text-input_82-176">kms</span>
          </div>
        </div>

        <!-- TIME -->
        <div class="form-field">
          <span class="title">When do you want to sow?</span>
          <div class="field">
            <img
              src="assets/icon/calendar-blank-outline.svg"
              alt="Calendar Icon"
              class="icon"
            />
            <input
              type="date"
              [(ngModel)]="sow_date"
              #calendarInput
              [min]="tomorrow"
              class="date-input"
            />
          </div>
        </div>

        <!-- ERROR MESSAGE -->
        <div class="field-missing-error" *ngIf="formError">
          <span class="subtitle-error"
            >Please fill in all fields correctly.</span
          >
        </div>

        <!-- SUBMIT BUTTON -->
        <div class="submit" (click)="onSubmit()">
          <span class="button-text">Submit</span>
        </div>
      </div>
    </div>

    <!-- SUCCESS VIEW -->
    <div class="form-field" *ngIf="isSuccessVisible">
      <span class="title">Your Settings</span>
      <div class="settings">
        <!-- Selected Crop -->
        <div class="setting-box">
          <span class="setting-title">Crop</span>
          <div class="setting-field">
            <!-- <p>{{ selectedCrop }}</p> -->
            <span class="setting-field-text">Corn</span>
          </div>
        </div>

        <!-- Selected Sow Date -->
        <div class="setting-box">
          <span class="setting-title">Sow</span>
          <div class="setting-field">
            <!-- <p>{{ sow_date }}</p> -->
            <span class="setting-field-text">October 30, 2024</span>
          </div>
        </div>

        <!-- Harvest Date -->
        <div class="setting-box">
          <span class="setting-title">Harvest</span>
          <div class="setting-field">
            <!-- <p>{{ harvestingDate }}</p> -->
            <span class="setting-field-text">December 20, 2024</span>
          </div>
        </div>
      </div>

      <!-- ANALYTICS -->
      <div class="plant-details">
        <div class="success-rate-box">
          <span class="title">Success Rate</span>
          <!-- Pie chart -->
          <p-chart
            type="pie"
            [data]="pieChartData"
            [options]="pieChartOptions"
          ></p-chart>
        </div>

        <div class="crop-details-box">
          <span class="title">Crop Details</span>
          <div class="crop-details">
            <span>Soil Type: Loamy or sandy.</span>
            <span>Temperature: 10°C - 30°C.</span>
            <span>Humidity: 50% - 70%.</span>
            <span>Soil pH: 6.0 - 6.8 pH.</span>
            <span>Soil Moisture: 25 mm of water weekly.</span>
            <span>Sunlight: 6 - 8 hs of direct sunlight daily.</span>
            <span>Wind tolerance: 12-15 km/h (3-4 m/s).</span>
          </div>
        </div>
      </div>

      <span class="title">Environmental Impacts</span>
      <!-- Line chart -->
      <div>
        <p-chart
          type="line"
          [data]="chartData"
          [options]="chartOptions"
        ></p-chart>
      </div>
    </div>
  </div>
</div>
